version: "3.4"

services:
  team_manager_api:
    build:
      context: .
    container_name: team_manager_api 
    platform: linux/amd64
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:8000
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_started
      database:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      strapi:
        condition: service_started
      email_sender:
        condition: service_started
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8000/api/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    networks:
      - tm_net
    
#  healthchecks_ui:
#    image: xabarilcoding/healthchecksui:latest
#    container_name: team_manager_healthchecks_ui
#    ports:
#      - "8080:80"
#    environment:
#      - HealthChecksUI__HealthChecks__0__Name=Team Manager API
#      - HealthChecksUI__HealthChecks__0__Uri=http://team_manager_api:8000/api/health
#      - HealthChecksUI__EvaluationTimeInSeconds=10
#      - HealthChecksUI__MaximumHistoryEntriesPerEndpoint=50
#      - HealthChecksUI__MinimumSecondsBetweenFailureNotifications=60
#    depends_on:
#      team_manager_api:
#        condition: service_healthy
#    networks:
#      - tm_net
#    restart: unless-stopped
    
  database:
    image: postgres
    platform: linux/amd64
    ports:
      - '5432:5432'
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d TeamManager -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 30s
    container_name: team_manager_database
    networks:
      - tm_net
    environment:
      - POSTGRES_PASSWORD=docker123
      - POSTGRES_DB=TeamManager
    volumes:
      - pgdata:/var/lib/postgresql/data
    
  redis:
    image: redis
    platform: linux/amd64
    ports:
      - '6379:6379'
    restart: always
    container_name: team_manager_redis
    networks:
      - tm_net
    command: redis-server --requirepass TeamManagerRedis123!
    
  rabbitmq:
    image: rabbitmq:3.12-management
    platform: linux/amd64
    container_name: team_manager_rabbitmq_broker_management
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - tm_net
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "check_port_connectivity" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
      
  email_sender:
    image: wallghost/email-sender-subscriber:latest
    container_name: team_manager_email_sender
    networks:
      - tm_net
    restart: on-failure
    depends_on:
      - rabbitmq

  strapi:
    image: strapi/strapi
    container_name: team_manager_strapi_crm
    restart: unless-stopped
    environment:
      DATABASE_CLIENT: "postgres"
      DATABASE_NAME: "TeamManagerStrapiDB"
      DATABASE_HOST: database
      DATABASE_PORT: 5432
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: "docker123"
    networks:
      - tm_net
    ports:
      - "1337:1337"
    depends_on:
      - database
    
  prometheus:
    image: prom/prometheus
    container_name: team_manager_prometheus
    ports:
      - "9090:9090"
    volumes:
      - ../prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - tm_net

  grafana:
    image: grafana/grafana
    container_name: team_manager_grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ../grafana:/var/lib/grafana
    depends_on:
      - prometheus
    networks:
      - tm_net

networks:
  tm_net:
    driver: bridge

volumes:
  pgdata:
  rabbitmq_data:
    